body {
	margin: 0;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}
nav {
	background-color: Black;
	top: 0;
    right: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    font-size: 17px;
    text-align: center;

}
 
ul li {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
	font-style: white;
}

a{ color: white; 
	text-decoration: none; }


img { display: inline-block;
		width:80%;
		height:100%;
}

section{ text-align: center; }